.container {
  margin-top: 50px;
  position: relative;
  width: 400px;
  height: 300px;
  background: gray;
  overflow: hidden; 
}

.content {
  width: 150px;
  height: 1500px;
  margin: 0 auto;
  background: linear-gradient(to top, white, black);
  border-bottom: 2px solid black;
  
  transition: 0.3s linear;
}

#scroll-bar {
  height:100%;
  width: 10px;
  position: absolute;
  right: 0;
  top: 0;
  background: white;
  
  display: none;
}
#scroll {
  height:80px;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background: black;
  border-radius: 10px;
  
  transition: 0.3s linear;
}